SOAP_WS3/src/main/resources/wsdl/CustomerOrders.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:danielpm1982="http://danielpm1982.com/customerorders"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CustomerOrdersService"
	targetNamespace="http://danielpm1982.com/customerorders">
	<wsdl:types>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:danielpm1982="http://danielpm1982.com/customerorders"
			elementFormDefault="unqualified"
			targetNamespace="http://danielpm1982.com/customerorders"
			version="1.0">
			<xs:complexType name="product">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string" />
					<xs:element minOccurs="0" name="description" type="xs:string" />
					<xs:element minOccurs="0" name="quantity" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="order">
				<xs:sequence>
					<xs:element name="id" type="xs:integer" />
					<xs:element maxOccurs="unbounded" name="product" type="danielpm1982:product" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getOrdersRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="customerId" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getOrdersResponse">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="order" type="danielpm1982:order" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getOrdersRequest" type="danielpm1982:getOrdersRequest" />
			<xs:element name="getOrdersResponse" type="danielpm1982:getOrdersResponse" />
			<xs:complexType name="createOrdersRequest">
				<xs:sequence>
					<xs:element name="customerId" type="xs:integer" />
					<xs:element name="order" type="danielpm1982:order" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createOrdersResponse">
				<xs:sequence>
					<xs:element name="result" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="createOrdersRequest" type="danielpm1982:createOrdersRequest" />
			<xs:element name="createOrdersResponse" type="danielpm1982:createOrdersResponse" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="danielpm1982:getOrdersRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="danielpm1982:getOrdersResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="danielpm1982:createOrdersRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="danielpm1982:createOrdersResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="danielpm1982:getOrdersRequest" name="getOrdersRequest">
			</wsdl:input>
			<wsdl:output message="danielpm1982:getOrdersResponse" name="getOrdersResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<wsdl:input message="danielpm1982:createOrdersRequest" name="createOrdersRequest">
			</wsdl:input>
			<wsdl:output message="danielpm1982:createOrdersResponse" name="createOrdersResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerOrdersServiceSoapBinding" type="danielpm1982:CustomerOrdersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="danielpm1982:CustomerOrdersServiceSoapBinding" name="CustomerOrdersPort">
			<soap:address location="http://localhost:8080/SOAP_WS3/services/customerOrdersService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
