SOAP_WS2_Client/src/main/resources/wsdl/AppointmentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.SOAP_WS2.danielpm1982.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AppointmentManagerService" targetNamespace="http://ws.SOAP_WS2.danielpm1982.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.SOAP_WS2.danielpm1982.com/" elementFormDefault="unqualified" targetNamespace="http://ws.SOAP_WS2.danielpm1982.com/" version="1.0">

  <xs:element name="createAppointment" type="tns:createAppointment"/>

  <xs:element name="createAppointmentResponse" type="tns:createAppointmentResponse"/>

  <xs:element name="getAppointmentAll" type="tns:getAppointmentAll"/>

  <xs:element name="getAppointmentAllResponse" type="tns:getAppointmentAllResponse"/>

  <xs:element name="getAppointmentById" type="tns:getAppointmentById"/>

  <xs:element name="getAppointmentByIdResponse" type="tns:getAppointmentByIdResponse"/>

  <xs:complexType name="getAppointmentAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAppointmentAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="GetAppointmentAllResult" type="tns:Appointment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element name="appointmentId" type="xs:integer"/>
      <xs:element name="patientId" type="xs:integer"/>
      <xs:element name="professionalId" type="xs:integer"/>
      <xs:element name="appointmentLocalDateTimeString" type="xs:string"/>
      <xs:element name="appointmentAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="appointmentDetails" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAppointmentById">
    <xs:sequence>
      <xs:element name="AppointmentId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAppointmentByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetAppointmentResult" type="tns:Appointment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appointment" type="tns:Appointment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAppointmentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAppointmentResult" type="tns:Appointment"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAppointmentAll">
    <wsdl:part element="tns:getAppointmentAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAppointmentResponse">
    <wsdl:part element="tns:createAppointmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentByIdResponse">
    <wsdl:part element="tns:getAppointmentByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAppointment">
    <wsdl:part element="tns:createAppointment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentById">
    <wsdl:part element="tns:getAppointmentById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentAllResponse">
    <wsdl:part element="tns:getAppointmentAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AppointmentManager">
    <wsdl:operation name="getAppointmentAll">
      <wsdl:input message="tns:getAppointmentAll" name="getAppointmentAll">
    </wsdl:input>
      <wsdl:output message="tns:getAppointmentAllResponse" name="getAppointmentAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentById">
      <wsdl:input message="tns:getAppointmentById" name="getAppointmentById">
    </wsdl:input>
      <wsdl:output message="tns:getAppointmentByIdResponse" name="getAppointmentByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAppointment">
      <wsdl:input message="tns:createAppointment" name="createAppointment">
    </wsdl:input>
      <wsdl:output message="tns:createAppointmentResponse" name="createAppointmentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppointmentManagerServiceSoapBinding" type="tns:AppointmentManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAppointmentAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAppointmentAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAppointmentAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAppointmentById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAppointmentByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAppointment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAppointment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAppointmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentManagerService">
    <wsdl:port binding="tns:AppointmentManagerServiceSoapBinding" name="AppointmentManagerPort">
      <soap:address location="http://localhost:8080/SOAP_WS2/api/appointmentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>